<h1>New Article</h1>

<%= form_with model: @article do |form| %>
<%# full_messages_for method returns an array of user-friendly error messages
for specified attr. unless no errors then empty %>
    <%= render "form", article: @article %>
<% end %>